<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="static/style.css" />

</head>
  <body>
  <h1>Movies for {{name}}</h1>
  {% if message %}
  <h4 class="normal-heading"><em>{{ message }}</em></h4>
  {% endif %}

  {% if error %}
  <p>{{ error }}</p>
  {% endif %}


<div class="add-movie">
    <form method="POST" action="/users/{{ user.id }}/movies">
        <label for="movie_name">Enter movie name:</label>
        <input type="text" id="movie_name" name="title" placeholder="Add movie">
            <button type="submit">Add movie</button>
    </form> 
 <div>


<ol class="movie-grid">
  {% for movie in movies %}
    <li>
<div class="movie">
<img class="movie-poster"
src="{{ movie.poster_url }}"
title=""/>
<div class="movie-title">{{ movie.name }}</div>
<div class="movie-director">{{ movie.director }}</div>
<div class="movie-year">{{ movie.year }}</div>
</div></li>
{% endfor %}
</ol>




</body>
</html>